<!-- Include base for nav bar -->
{% extends 'base.html' %}

{% block content %}
    <h1>Here are all of the existing benches in our database as of now along with all of their info </h1>
    <h2>Please note that if you have suddenly been thrown here, its because you either successfully created/updated/deleted an object, or failed to do so.</h2>
    <p> If the object you created is not here, chances are the request was bad, check next time and make sure all your fields are filled.</p>
    <ul>
        {% for bench in benches %}
        <li>{{bench.bench_id}} -- {{bench.bench_title}}
            <ul>
                <li> Park Id: {{bench.park_id}}</li>
                <!-- in src input the path going into ParkMindfulness/media/{{bench.thumbnail}}-->
                <img src="/media/{{bench.thumbnail}}" alt="Thumbnail" width="200" height="200">
                <!-- Include the update and deletion links -->
                <li><a href="{% url 'bench_update' bench.bench_id %}"> Update this bench </a></li>
                <li><a href="{% url 'bench_delete' bench.bench_id %}"> Delete this bench</a></li>        
            </ul>
        </li>
        {% empty %}
        <li>OOPSIE WOOPSIE! <br> There are no bench objects in the database :0</li>
        {% endfor %}
    </ul>
{% endblock %}