.container {
    display: inline-block;
    justify-content: center;
    align-items: left;
    margin-left: 100px;
    margin-top:50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
    height: 400px;
  }