.navbar {
    background-color: rgb(196, 181, 155);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .navbar-title {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .navbar-items {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
  }
  
  .navbar-item {
    margin: 5px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(196, 181, 155);
    border: 1px solid rgb(96, 81, 55);
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }