<!-- The basic template containing the nav bar for bench methods that all bench templates are to extend -->
<!DOCTYPE html>
<html>
<body>
    <!-- Nav bar with all the links to traverse the existing templates -->
    <nav>
        <ul>
            <li><a href="{% url 'bench_create' %}">Create a new bench</a></li>
            <li><a href="{% url 'bench_view' %}">View all existing benches</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
