name: Backend Auto Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

defaults:
  run:
    working-directory: ./Code/backend/ParkMindfulness

jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    # - name: Coverage report
    #   run: |
    #     coverage run manage.py test
    #     coverage report
    - name: Backend Testing
      run: |
        python3 manage.py test
